{% extends 'solicitacao/base.html' %}
{% block title %}Visualizar Avaliação{% endblock %}
{% block body %}
	<h1 style="text-align: center">Consulta de Responsabilidades GRH e GEGER</h1><br />
	<br /><br />
    <table class="table table-bordered" style="background: #FFFFFF">
        {% load static %}
        <tr>
            <td>
                <img src="{% static 'solicitacao/css/img/logo_est_sp.png' %}" class="img-responsive center_img" style="max-width: 110px" />
            </td>
            <td align="center" style="vertical-align: middle !important">
                <p><b>SECRETARIA DE ESTADO DA SAÚDE</b></p>
                <p><b>INSTITUTO PAULISTA DE GERIATRIA E GERONTOLOGIA</b></p>
                <p><b>"JOŚE ERMÍRIO DE MORAES"</b></p>
            </td>
            <td>
                <img src="{% static 'solicitacao/css/img/logo_ipgg.png' %}" class="img-responsive center_img" style="max-width: 90px" />
            </td>
        </tr>
        <tr><th colspan="3">Definição sob Responsabilidade do GRH e GEGER nº {{ avaliacao.id }}</th></tr>
        <tr><td colspan="3"><b>Responsável:</b> {{ avaliacao.responsavel }}</td></tr>
        <tr><td colspan="2"><b>Solicitação nº: </b><a href="{% url 'solicitacao:visualizar' avaliacao.solicitacao_n.id %}" target="_blank" >{{ avaliacao.solicitacao_n }}</a></td><td><b>Complexidade:</b> {{ avaliacao.complexidade }}</td></tr>
        <tr><td colspan="2"><b>Recursos:</b> {% if avaliacao.recursos != "Outros" %} {{avaliacao.recursos}} {% else %} {{avaliacao.outro_recurso}} {% endif %}</td><td><b>Estimativa:</b> {{ avaliacao.estimativa }}</td></tr>
        <tr><td colspan="2"><b>Viabilidade:</b> {{ avaliacao.viabilidade }}</td><td><b>Data Prevista:</b> {{ avaliacao.data_prev }}</td></tr>
    </table>
{% endblock %}