{% extends 'solicitacao/base.html' %}
{% block body %}
    <h1>Informativo</h1>
    <p>
        Bem-vindo(a) ao sistema para <b>cadastro de solicitação de cursos</b> do Instituto Paulista de Geriatria e Gerontologia "José Ermírio de Morais" (IPGG - JEM).
    </p>
    <p>
        Para cadastrar uma solicitação de curso, clique em "Solicitações" — caso esteja logado no sistema, no painel principal escolha a opção de "Cadastrar Solicitação" e preencha os campos, conforme requerido. Caso não esteja logado, será redirecionado para a página de <i>login</i>.
    </p>
{% endblock %}